$cold-day: (
  fg: #a5c9ca,
  bg: #e7f6f2,
  primary: #2c3333,
  secondary: #395b64,
);

$vintage-blue: (
  fg: #03506f,
  bg: #2c3333,
  primary: #ffe3d8,
  secondary: #bbbbbb,
);

$theme: $cold-day;
