/* English Font */
@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/inter-regular.woff"),
    url("./fonts/inter-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("./fonts/inter-bold.woff"),
    url("./fonts/inter-bold.woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Iceberg";
  src: local("Iceberg"), url("./fonts/iceberg-regular.woff"),
    url("./fonts/iceberg-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Itim";
  src: local("Itim"), url("./fonts/itim-regular.woff"),
    url("./fonts/itim-regular.woff2");
  font-weight: 400;
}

/* Khmer Font */
@font-face {
  font-family: "Kantumruy";
  src: local("Kantumruy"), url("./fonts/kantumruy-regular.woff"),
    url("./fonts/kantumruy-regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Kantumruy";
  src: local("Kantumruy"), url("./fonts/kantumruy-bold.woff"),
    url("./fonts/kantumruy-bold.woff2");
  font-weight: 700;
}
