@use "../../abstract" as *;

.projContainer {
  h1 {
    color: themeColor($theme, primary);
    font-family: "Iceberg", "Kantumruy";
    font-size: 1.7em;
    text-decoration: underline;
    text-align: center;
  }
  
  .container {
    position: relative;
    margin-bottom: 1em;
    display: grid;
    place-items: center;

    h1 {
      color: themeColor($theme, primary);
      font-family: "Iceberg", "Kantumruy";
      font-size: 1.7em;
      text-decoration: underline;
      text-align: center;
    }

    h3 {
      color: themeColor($theme, secondary);
      font-family: "Iceberg", "Kantumruy";
      font-size: 1.5em;
      text-decoration: underline;
      text-align: center;
      margin: 0.5em 0 0.5em 0;
    }

    .refImg {
      $width: 450px;

      width: $width;
      height: image-height($width, 16, 9);
      box-shadow: 0px 4px 10px 5px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      margin: 1em 0 1.7em 0;
      transition: scale 500ms ease-in-out;
      cursor: pointer;

      @include for-mobile-portrait {
        $width: 300px;
        width: $width;
        height: image-height($width, 16, 9);
      }

      &:hover {
        scale: 1.05;
      }
    }

    .btn {
      color: themeColor($theme, primary);
      font-family: "Iceberg", "Kantumruy";
      font-size: 14px;
      line-height: 17px;
      padding: 0.4em;
      background-color: themeColor($theme, fg, 0.7);
      border-radius: 3px;
      cursor: pointer;
      transition: all 500ms ease;

      &:hover {
        background-color: themeColor($theme, fg);
      }

      @include for-mobile-portrait {
        position: relative;
      }
    }
  }
}
