@use "../../abstract" as *;

.container {
  width: 30ch;

  .title {
    text-align: center;
    text-decoration: underline;
    color: themeColor($theme, primary);
  }

  .context {
    margin-top: 0.5em;
    text-align: center;
    color: themeColor($theme, secondary);
  }

  .wrapper {
    margin-top: 0.3em;
    color: themeColor($theme, primary);
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      align-self: flex-start;
      font-weight: bold;
      text-decoration: underline;
    }

    ul {
      width: 13ch;
      flex-direction: column;
      list-style: none;
      color: themeColor($theme, secondary);

      li::before {
        content: "-";
        margin-right: 0.5em;
      }
    }
  }
}
