@use "../../abstract" as *;

.body {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: relative;
  width: 100%;
  flex-direction: column;
  margin-bottom: 4em;
}
