@use "../../abstract/mixin";

$loading-bg-color: #a2a2a2;

.loadWarpper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $loading-bg-color;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 2em;

  span {
    font-size: 1.6em;

    &:nth-child(1),
    &:nth-child(11) {
      animation: jumpingLetter 1s ease-in-out;
    }

    &:nth-child(2),
    &:nth-child(10) {
      animation: jumpingLetter 1s ease-in-out 0.3s;
    }

    &:nth-child(3),
    &:nth-child(9) {
      animation: jumpingLetter 1s ease-in-out 0.6s;
    }

    &:nth-child(4),
    &:nth-child(8) {
      animation: jumpingLetter 1s ease-in-out 0.9s;
    }

    &:nth-child(5),
    &:nth-child(7) {
      animation: jumpingLetter 1s ease-in-out 1.2s;
    }
  }

  @include mixin.for-mobile-portrait() {
    flex-direction: column;
    line-height: 3em;

    span {
      &:nth-child(1),
      &:nth-child(11) {
        animation: jumpingLetterForSmallScreen 1s ease-in-out;
      }

      &:nth-child(2),
      &:nth-child(10) {
        animation: jumpingLetterForSmallScreen 1s ease-in-out 0.3s;
      }

      &:nth-child(3),
      &:nth-child(9) {
        animation: jumpingLetterForSmallScreen 1s ease-in-out 0.6s;
      }

      &:nth-child(4),
      &:nth-child(8) {
        animation: jumpingLetterForSmallScreen 1s ease-in-out 0.9s;
      }

      &:nth-child(5),
      &:nth-child(7) {
        animation: jumpingLetterForSmallScreen 1s ease-in-out 1.2s;
      }
    }
  }
}

@keyframes jumpingLetter {
  0% {
    opacity: 1;
    margin-bottom: 0;
  }
  25% {
    margin-bottom: 4em;
  }
  75% {
    margin-bottom: -4em;
  }
  100% {
    margin-bottom: 0em;
    opacity: 1;
  }
}

@keyframes jumpingLetterForSmallScreen {
  0% {
    opacity: 1;
    margin-left: 0;
  }
  25% {
    margin-left: 4em;
  }
  75% {
    margin-left: -4em;
  }
  100% {
    margin-left: 0em;
    opacity: 1;
  }
}
