@use "../../abstract" as *;

.footer {
  width: 90%;
  bottom: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em 1em 2em;
  background: themeColor($theme, fg);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 1em 2em 0 #0005;
  color: themeColor($theme, primary);

  .copyright {
    display: flex;
    align-items: center;

    svg {
      fill: themeColor($theme, primary);
    }

    .year,
    .name {
      font-family: "Inter", "Kantumruy";
      margin-left: 0.5em;
    }
  }
}
